body{
    background-color:black;
    color:white;
    }
    .appbar{
        background-color: black;
        border-bottom: 1px solid white;
    }
    .appbartext{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        flex: content;
    }